@page
@model GenderHealthcareServiceManagementSystemPages.Pages.StaffTesting.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Test.TestId" />
            <div class="form-group">
                <label asp-for="Test.UserId" class="control-label"></label>
                <select asp-for="Test.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Test.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.ServiceId" class="control-label"></label>
                <select asp-for="Test.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="Test.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.AppointmentTime" class="control-label"></label>
                <input asp-for="Test.AppointmentTime" class="form-control" />
                <span asp-validation-for="Test.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Status" class="control-label"></label>
                <input asp-for="Test.Status" class="form-control" />
                <span asp-validation-for="Test.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Result" class="control-label"></label>
                <input asp-for="Test.Result" class="form-control" />
                <span asp-validation-for="Test.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.CancelReason" class="control-label"></label>
                <input asp-for="Test.CancelReason" class="form-control" />
                <span asp-validation-for="Test.CancelReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.CreatedAt" class="control-label"></label>
                <input asp-for="Test.CreatedAt" class="form-control" />
                <span asp-validation-for="Test.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.IsDeleted" class="control-label"></label>
                <input asp-for="Test.IsDeleted" class="form-control" />
                <span asp-validation-for="Test.IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
