@page
@model GenderHealthcareServiceManagementSystemPages.Pages.Feedbacks.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background: linear-gradient(to bottom right, #f9f3ff, #ffeaf7, #ebf0ff);
    }

    .gradient-text {
        background: linear-gradient(to right, #9333ea, #ec4899);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
</style>

<div class="col-12 d-flex justify-content-between align-items-center mb-2">
    <h1 class="gradient-text">Nhận xét</h1>
</div>
<hr />
<partial name="_FeedbackComponent"/>